<div class='col-xs-12'>
<br>
	<h3>Add Item</h2>
	<form>
		<div class='form-group'>
			<label for='name'>Name</label>
			<input type='text' class='form-control' ng-model='item.name' id='name'> 
		</div>
		<div class='form-group'>
			<label for='desc'>Description</label>
			<textarea class='form-control' ng-model='item.desc' id='desc'></textarea>
		</div>
		<div class='form-group'>
			<label for='img'>Image</label>
			<input type='text' class='form-control' ng-model='item.img' id='img'> 
		</div>
		<div class='form-group'>
			<label for='serving'>Serving</label>
			<input type='number' class='form-control' ng-model='item.serving' id='serving'> 
		</div>
		<div class='form-group'>
			<label for='cost'>Cost</label>
			<input type='number' class='form-control' ng-model='item.cost' id='cost'> 
		</div>
		<div class='form-group'>
			<label for='unit'>Units</label>
			<input type='number' class='form-control' ng-model='item.unit' id='unit'> 
		</div>
		<div class='form-group'>
			<label for='status'>Status</label>
			<input type='number' class='form-control' ng-model='item.status' id='status'> 
		</div>
		<div class='form-group'>
			<label for='staff'>Staff ID</label>
			<input type='number' class='form-control' ng-model='item.staffID' id='staff'> 
		</div>
		<div class='form-group'>
			<label for='catId'>Category</label>
			<input type='number' class='form-control' ng-model='item.catID' id='catId'> 
		</div>

		<div class='form-group'>
			<button class='btn btn-info' ng-click="add(item)">Create Item</button>
		</div>
	</form>
</div>

<div class='col-xs-12'>
	<div class='table-responsive'>
		<table class='table table-striped'>
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Staff ID</th>			
			</thead>
			<tbody>
				<tr ng-repeat='item in items'>
					<td>{{item.name}}</td>
					<td>{{item.desc}}</td>
					<td>{{item.staffID}}</td>
					<td><button class='btn btn-danger btn-sm' ng-click='del(item.id)'>Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
